.react-gantt-accurate{
  .gantt-grid-container {
    display: grid;
    grid-template-columns: 150px 1fr;
    outline: 2px solid #e9eaeb;
  }
  .gantt-task-row {
    outline: 0.5px solid #e9eaeb;
    text-align: center;
    /*expand across whole grid*/
    grid-column: 1/-1;
    width: 100%;
    border: none;
    box-sizing: border-box;
  }

  .gantt-task-row button {
    border: none;
    height: 40px;
  }
  .days-row{
    text-anchor: middle;
    fill: #333;
  }
  .cell-line{
    stroke: #dce4e7;
  }
  .task-rect{
    fill:#91bbfe;
  }
}