.react-gantt-accurate{
  margin: 0;
  color: rgba(255, 255, 255, 0.85);
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-feature-settings: 'tnum';
  
  .gantt-grid-container {
    display: grid;
    background: white;
    width: fit-content;
    min-width: 400px;
    min-height: 150px;
  }
  .gantt-task-row {
    grid-column: 1/-1;
    width: 100%;
    box-sizing: border-box;
    color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gantt-task-row:first-of-type{
    box-shadow: 0 -1px 0 #a6a4a44d;
  }
  .gantt-task-row:last-of-type{
    border-bottom: 1px #a6a4a44d solid;
  }

  .gantt-task-row button {
    border: none;
    height: 40px;
  }
  .days-row {
    text-anchor: middle;
    fill: #616161;
  }
  .cell-line{
    stroke: #dce4e7;
  }
  .cell-rect-secondary{
    fill:#f5f5f5;
  }
  .cell-rect-primary{
    fill:#fff;
  }
  .task-rect{
    fill:#91bbfe;
  }
  .arrow{
    & > path{
      stroke:grey;
    }
    & > polygon{
      fill:grey;
    }
  }
  .gantt-no-data{
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #616161;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.dark{
    .gantt-grid-container{
      background: #424242;
    }
    .days-row {
      fill: #e7e7e7;
    }
    .gantt-task-row{
      color: #e7e7e7;
    }
    .cell-rect-secondary{
      fill:#333333;
    }
    .cell-rect-primary{
      fill:#424242;
    }
    .cell-line {
      stroke: #212121;
    }
    .gantt-task-row:first-of-type{
      box-shadow: 0 -1px 0 #212121;
    }
    .gantt-task-row:last-of-type{
      border-bottom: 1px #212121 solid;
    }
    .arrow{
      & > path{
        stroke:#cccaca;
      }
      & > polygon{
        fill:#cccaca;
      }
    }
  }
}